h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.title-large {
    font-family: var(--font-title);
    color: var(--color-title-h1);
    line-height: 125%;
    font-size: 3em;
    text-transform: uppercase;
}
.title-large a {
    color: var(--color-title-h1);
    border-bottom: 2px var(--border-link) solid;
}
.title-h2  {
    font-family: var(--font-title);
    color: var(--color-title-h2);
    font-size: var(--font-size-h2);
    line-height: 125%;
    font-weight: 400;
}
a.title-h2  {
    text-decoration: none;
}